$primary-color: #11a43c;
$primary-bg-color: #f5fdf6;
$desc-color: #999;
$title-color: #333;
$text-color: #666;
$bg-color: #f7f7f7;
$line-color: #f4f4f4;
$bg2-color: #f2f2f2;
$dis-color: #e6e6e6;
$white: #fff;
$black: #000;
$sale-1: #409dfb;
$sale-2: #f90;
$sale-3: #bbb;
$search-actived: #f60;
$pink: #ff656b;
$bg-pink: rgba(255, 101, 107, 0.1);
$tip-color: #f34;
$sreen-color: #1a1a1a;

$border: 1px solid #eee;
$border-color: #eee;
$border-radius-base: 5px;
$border-radius-10: 10px;

$font-24: 24px;
$font-26: 26px;
$font-basic: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-40: 40px;
