.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    z-index: 9999;

    &-title {
        font-size: 28px;
        margin-left: 10px;
        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .back {
        font-size: 32px;
    }

    .iconhome {
        padding: 10px 12px;
        border-radius: 50%;
        background-color: rgba($color: #000, $alpha: 0.2);
    }
}
